= form_for @info do |f|
  -if @info.errors.any?
    #error_explanation
      %h2= "#{pluralize(@info.errors.count, "error")} prohibited this info from being saved:"
      %ul
        - @info.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :contact
    = f.text_field :contact
  .field
    = f.label :pushlish_at
    = f.datetime_select :pushlish_at
  .field
    = f.label :original_site
    = f.text_field :original_site
  .actions
    = f.submit 'Save'
